@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,800;1,800&display=swap');

body {
    background-color: #FFFBE8;
}

.navbar-expand-lg {
    height: 8vh !important;
}

.login {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92vh;
}

.login-title {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row.login-form {
    margin: 0;
    margin-top: 50px;
}

.logo {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
}

.logo1 {
    color: #FB8500;
}

.logo2 {
    color: #FFB703;
}

.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.registroUsuario,
.queEsContainer,
.estadisticasContainer {
    height: 100vh; /* Ocupar toda la altura de la pantalla */
    width: 100%; /* Ocupar todo el ancho disponible */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .registroUsuario,
    .queEsContainer,
    .estadisticasContainer {
        font-size: 0.8em; /* Letra más pequeña en dispositivos móviles */
    }
    .registroUsuario {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .registroUsuario .btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px; /* Añade espacio inferior */
    }
    .estadisticasContainer {
        flex-direction: column; /* Cambia la dirección de la distribución */
        align-items: center; /* Centra los elementos en el eje horizontal */
    }

    .estadisticasContainer .statistic {
        flex-basis: 100%; /* Establece el ancho completo para que las estadísticas ocupen toda la pantalla */
    }
    .estadisticasContainer h1{
        margin-left: 40px;
    }
}

.registroUsuario h3 {
    margin: 0; /* Eliminamos el margen para evitar desplazamientos */
    font-size: 2.5em; /* Ajusta el tamaño de la fuente según sea necesario */
    text-align: center; /* Alinea horizontalmente el texto */
    position: absolute; /* Utilizamos posición absoluta */
    top: 30%; /* Sitúa el elemento a la mitad de la altura del viewport */
}

.registroUsuario p {
    text-align: center; /* Alinea horizontalmente el texto */
    margin-top: 20px; /* Ajusta el espacio entre el título y el párrafo */
    text-align: center; /* Alinea horizontalmente el texto */
    position: absolute; /* Utilizamos posición absoluta */
    top: 40%; /* Sitúa el elemento a la mitad de la altura del viewport */  
}

.registroUsuario .btn {
    margin-top: 20px; /* Ajusta el espacio entre el párrafo y los botones */
    text-align: center; /* Alinea horizontalmente el texto */
    position: absolute; /* Utilizamos posición absoluta */
    top: 65%; /* Sitúa el elemento a la mitad de la altura del viewport */
    margin-right: 0%;
    margin-left: 25%;
    padding: 10px 20px;
    font-size: 18px;
   left: 30%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    height: 55px;
    border-radius: 30px;
    background-color: #219EBC;
    color: #FFFDFD;
    border: 1px solid #000000;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-shadow: 2px 2px 0px 0px #035177;
}

.registroUsuario .btn + .btn {
    margin-top: 20px; /* Ajusta el espacio entre los botones en pantalla grande */
    margin-left: 0; /* Elimina el margen izquierdo para evitar superposición */
    margin-right: 10%; /* Ajusta el margen derecho */
}


.registroUsuario .btn:hover {
    background-color: #0056b3;
}

.queEsContainer p {
    text-align: center;
}

.queEsContainer {
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Añade espacio alrededor del contenido */
    max-width: 800px; /* Establece el ancho máximo del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.estadisticasContainer .statistic {
    flex-basis: calc(33.33% - 20px); /* Establece el ancho de cada estadística */
    text-align: center; /* Centra el contenido */
    margin: 10px; /* Añade margen entre las estadísticas */
    border: 1px solid #ccc; /* Añade un borde */
    padding: 20px; /* Añade espacio interno */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    background-color: #f0f0f0; /* Color de fondo */
}